<div class="main_div">
</div>

<div style="position:absolute;top:10%;left:8%;" class="container">

<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-4">
  <img style="width:85%;" src="images/logo.png">
 </div>
</div><br>

<div class="row">
 <div>
  <button data-toggle="modal" data-target="#apps" class="btn-special btn-lg col-xs-12 col-sm-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-4">View Applications</button>
 </div>
</div><br>

<div class="row">
 <div>
  <button data-toggle="modal" data-target="#prompt" class="btn-special btn-lg col-xs-12 col-sm-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-4">Submit Application</button>
 </div>
</div><br>

<div class="row">
 <div>
  <button ng-click="shootNew()" class="btn-special btn-lg col-xs-12 col-sm-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-4">Saarang'18 Team Details</button>
 </div>
</div><br>

<div class="row">
 <div>
  <button ng-click="shootOld()" class="btn-special btn-lg col-xs-12 col-sm-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-4">Saarang'17 Team Details</button>
  </div>
 </div>
</div>

</div>

<div id="apps" class="modal fade" style="z-index:9999;" role="dialog">
 <div class="modal-dialog" role="document">
 <div style="box-shadow: 5px 5px 20px 10px #fcf8e3;" class="modal-content custom_modal">
   <div class="modal-body">
     <div class="form-group">
          <label>Choose your application from the list below</label><br><br>
        <select ng-model="user.application" name="application" class="form-control custom_modal">
         <option></option>
         <option ng-repeat="app in applications" value="{{app}}">{{app}}</option> 
       </select>

     </div>   

   </div>
     <div class="modal-footer">
        <button class="btn btn-danger" ng-click="fetch()" data-dismiss="modal">Show the application</button>
     </div>
    </div>
  </div>
</div> 


<div id="prompt" class="modal fade" style="z-index:9999;" role="dialog">
 <div class="modal-dialog" role="document">
 <div style="box-shadow: 2px 2px 10px 10px #fcf8e3;" class="modal-content custom_modal">
  <div class="modal-body">
    <div class="form-group">
      <label>Please Enter Your Name</label><br>
        <input type="text" class="form-control custom_modal" ng-model="user.name" required="">
    </div>

    <div class="form-group">
      <label>Please Enter Your Roll Number</label><br>
        <input type="text" class="form-control custom_modal" ng-model="user.roll_no" required="">
    </div>

    <div class="form-group">
      <label>Please Choose your department</label><br>
       <select ng-model="user.department" name="department" class="form-control custom_modal" required="">
         <option></option>
         <option ng-repeat="dep in departments" value="{{dep}}">{{dep}}</option>
       </select>  
    </div>

    <div class="form-group">
      <label>Position applying for ?</label><br>
        <input type="text" class="form-control custom_modal" ng-model="user.position" required="">
    </div>

    <h4>* Please upload only PDFs</h4>
    <h4>* Name the file ONLY in the format mentioned by the department heads</h4>

    <div class="form-group">
     <div ng-hide="verify" vc-recaptcha key="'6LcLMh0UAAAAAJKnIdIRNYrAdkaziWzkTrwQNV_b'" on-success="proceed(response)"></div><br>
    </div>
     
  </div>
   <div class="modal-footer"> 
    <button ng-show="verify" type="file" ngf-select="uploadFiles($file)" accept="application/pdf" class="btn btn-danger">Upload PDF</button>
    <button ng-show="status" id="status" class="btn btn-danger" disabled="">{{progress}}</button>
   </div> 
 </div>
 </div>
</div>